.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1890ff;
  background-image: -webkit-gradient(
    linear,
    37.219838% 34.532506%,
    36.425669% 93.178216%,
    from(#29cdff),
    to(#0a60ff),
    color-stop(0.37, #148eff)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-invisible {
  display: none;
}

.site-layout-sub-header-background {
  background: #fff;
}

.ant-layout-sider,
.ant-layout-footer,
.ant-layout-header {
  background-color: #fff !important;
}

.ant-menu {
  height: 87vh;
}

.ant-layout-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 29;
  transition: width 0.2s;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  padding: 0;
  position: relative;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 72px;
  z-index: 9;
  -ms-flex-align: center;
  align-items: center;
}

.header-drop {
  cursor: pointer;
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-drop:hover {
  filter: opacity(0.9);
}
